@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 5000ms;
}

.activePlayer {
    position: relative;
}

.activePlayer::before, .activePlayer::after {
    display: block;
    position: absolute;
}

.activePlayer::before {
    content: '';
    width: 20px;
    height: 20px;
    background: var(--chakra-colors-tangerine-light);
    transform: rotate(45deg)  translateX(-14px);
    top: 0;
    left: 50%;
}

.activePlayer::after {
    text-transform: uppercase;
    font-size: 10px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(calc(100% + 10px));
    font-weight: var(--chakra-fontWeights-bold);
    letter-spacing: 3px;
}

.game-button:focus {
    outline: none!important;
    box-shadow: none!important;
}

@keyframes fadeIn {
    from {
        visibility: hidden;
        transform: scale(0.75);
        opacity: 0;
    }
    to {
        visibility: visible;
        transform: none;
        opacity: 1;
    }
}